<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Automação</title>
  </head>
<style>
body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("");

  /* Half height */
  height: 65%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

	body{
		background-color:#F2F2F2;
	}

	h1,h5{
		text-align: center;
	}

	#footer {
	height: 100px;
	background: #3A3A3A;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}
#dropdown-item {
	font-family: 'Abel', sans-serif;
}
.jumbotron{
  margin-top: 4%;
}

</style>
  
  <body>
    <!-- Image and text -->

   <nav class=" fixed-top navbar navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">
    <img src="http://www.advogar.pt/wp-content/uploads/2014/04/Mail-at-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Automação
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
     

      <li class="nav-item">
        <a  class="nav-link" href="QRcode.html" >Gerar QR code</a>
        </li>
        <li class="nav-item">
        <a  class="nav-link" href="Cadastro.html" >Cadastro</a>
        </li>
      
      
    </ul>
    
  </div>
</nav>

<br><br><br><br>

		
		<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <center><h3>Cadastro Visitas</h3></center>
                <br>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nome Completo </label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>CPF </label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
    <label for="exampleFormControlSelect1" id="emailHelp" class="form-text text-muted">Tipo</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option></option>
      <option>Familia</option>
      <option>Amigos</option>
      <option>Conhecido</option>
      
      
    </select>
  </div>
                   

                    <div class="form-group">
                        <center><button class="btn btn-success">Registrar</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


   

      <br><br><br>


      
<div id="footer">
    <p> © Copyright 2019 </p>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>